<% provide(:title, 'EUR to USD') %>
<h1>EUR/USD</h1>

<div class="row">
	<div class="span6 offset6">
		<p>This action will take 10 minutes. Please do not refresh the page!</p>
		<%= form_tag(reload_path) do %>
			<p>
				<%= submit_tag "Load from ECB", class: "btn" %>
			</p>
		<% end %>
	</div>
	<div class="span6 offset6">
		<p>Input your sum, check dates, click button below.</p>
		<%= form_tag(compute_path) do %>			
			<p>
				<%= label_tag :sum, "Amount of EUR:" %>
				<%= text_field_tag :sum %>
			</p>

			<p>
				<%= label_tag :start_date, "From" %>
				<%= date_field_tag :start_date %>

				<%= label_tag :end_date, "to" %>
				<%=date_field_tag :end_date %>
			</p>
			<p>				
				<%= submit_tag "Compute", class: "btn btn-large btn-primary" %>
			</p>
		<% end %>
	</div>
	<div>
		
	</div>
</div>
